<h1>Eat-Da-Burger</h1>

<h2>What kind of burger will you devour?!?</h2>

<div class="row">
  
  <div class="col-md-4">
    <ul>
      {{#each burgers}}
        {{#unless devour}}
          <li>
            {{burger_name}}
              <button id="devoured" type="submit" data-id="{{id}}" data-name="{{burger_name}}">{{#if}}Devour?{{/if}}</button>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>


  <div class="col-md-4">
    <h2>Name what you wanna eat.</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
      </div>

      <button type="submit">Add burger</button>
    </form>
  </div>


  <div class="col-md-4">
    <h2>Devoured burgers!</h2>

    <ul>
      {{#each burgers}}
        {{#if devour}}
          <li>{{burger_name}}</li>
        {{/if}}
      {{/each}}
    </ul>
  </div>

</div>
 <!-- end class="row"> -->